In [ ]:
import pandas as pd, requests

In [ ]:
http://api.open-notify.org/iss-now.json

In [ ]:
response = requests.get('http://api.open-notify.org/iss-now.json')
print(response.status_code)

200

In [ ]:
type(response.json())

dict

In [ ]:
data = response.json()

In [ ]:
data

{'iss_position': {'latitude': '4.1237', 'longitude': '9.6197'},
 'message': 'success',
 'timestamp': 1614170978}

In [ ]:
message = data['message']
timestamp = data['timestamp']
iss_position = data['iss_position']
processed_data = []
for person in iss_position:
    latitude = iss_position['latitude']
    longitude = iss_position['longitude']
    processed_data.append([message, timestamp, latitude])

print(processed_data)

[['success', 1614170978, '4.1237'], ['success', 1614170978, '4.1237']]

In [ ]:
df1 = pd.DataFrame(processed_data, columns=['message', 'timestamp', 'iss_position'])
df1

   message   timestamp iss_position
0  success  1614170978       4.1237
1  success  1614170978       4.1237

In [ ]:
df2 = pd.DataFrame(data)
df2

            timestamp iss_position  message
latitude   1614170978       4.1237  success
longitude  1614170978       9.6197  success

In [ ]:
tb1 = df2[['message', 'timestamp']]
tb1 = tb1.drop_duplicates()
tb1

          message   timestamp
latitude  success  1614170978